
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding : 20px;
    color : black;
}


h2 {
    text-align: center;
    font-family: "Righteous", sans-serif;;
    margin-bottom: 15px;
}

/* Center form container */
.form {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

/* Form card */
.form form {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 30px;
    width: 340px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Labels */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Inputs & select */
input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #0056b3;
}

/* MCQ container */
#mcq-container {
    max-width: 800px;
    margin: auto;
}

/* Question card */
.question-box {
    background: white;
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

/* Question title */
.question-title {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Options */
.option {
    margin-left: 10px;
    margin-bottom: 4px;
}

/* Answer highlight */
.answer {
    margin-top: 8px;
    color: green;
    font-weight: bold;
}
.loading-box {
    text-align: center;
    margin-top: 20px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #ddd;
    border-top: 5px solid #4CAF50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}